<div>
	<h3>Details</h3>
		<button go-click="/edit/{{details.FullContact.Id}}">EDIT</button>
		<button ng-click="details.deleteContact()" >DELETE</button>
	
	<button go-click="/all">HOME</button>
	<table>
		<tr>
			<th>Key</th><th>Value</th>
		</tr>
		<tr>
			<td>FirstName:</td><td>{{details.FullContact.FirstName}}</td>
		</tr>
		<tr>
			<td>LastName:</td><td>{{details.FullContact.LastName}}</td>
		</tr>
		<tr>
			<td>Email:</td><td>{{details.FullContact.Email}}</td>
		</tr>
		<tr>
			<td>Phone:</td><td>{{details.FullContact.Phone}}</td>
		</tr>
	</table>
</div>